<form>
    <div class="form-group">
        <label>Title</label>
        <input 
            class="form-control"
            type="text"
            [(ngModel)]="title"
            name="title"
            required>
    </div>
    <div class="form-group">
        <label>Description</label>
        <input 
            class="form-control"
            type="text"
            [(ngModel)]="description"
            name="description"
            required>
    </div>
    <div class="form-group">
        <label>Date</label>
        <input 
            class="form-control"
            type="date"
            [(ngModel)]="date"
            name="date"
            required>
    </div>
    <div class="form-group">
        <label>Deadline</label>
        <input 
            class="form-control"
            type="date"
            [(ngModel)]="deadline"
            name="deadline"
            required>
    </div>
    <div class="form-group">
        <label>Avaible From</label>
        <input 
            class="form-control"
            type="date"
            [(ngModel)]="avaibleFrom"
            name="avaibleFrom"
            required>
    </div>
    <input type="button" (click)="onAddSubmit()" value="Add" class="btn btn-success">
</form>