<div class="jumbotron jumbotron-fluid text-center">
  <div class="container">
    <div *ngIf="!true">
      <h1>TEST Login</h1>
      <a ><img src="assets/img/google_login.png"></a>
    </div>
    <div *ngIf="true">
      <h1>TEST</h1>

      <a [routerLink]="['/superhero/'+superhero.$key]" *ngFor="let superhero of superheroes">
        <img class="thumbnail img-thumbnail" src="{{superhero.imageUrl}}" />
      </a>

    </div>
  </div>
</div>
