<div *ngFor="let race of races">
    <div class="race-info">
        <ul>
            <li>{{ race.title }}</li>
            <li>{{ race.description }}</li>
            <li>{{ race.date }}</li>
            <li>{{ race.deadline }}</li>
            <li>{{ race.avaibleFrom }}</li>
            <li>{{ race.raceType | json }}</li>
        </ul>
    </div>
</div>
<app-add-race></app-add-race>