<form>
    <div class="form-group">
        <label>Name</label>
        <input 
            class="form-control"
            type="text"
            [(ngModel)]="name"
            name="name"
            required>
    </div>
    <div class="form-group">
        <label>Sex</label>
        <select
            name="sex"
            id="sex"
            class="form-control"
            [(ngModel)]="selectedSex"
             required>
             <option *ngFor="let item of sexArray()" [value]="item">{{item}}</option>
        </select>
    </div>
    <div class="form-group">
        <label>ageStart</label>
        <input 
            class="form-control"
            type="date"
            [(ngModel)]="ageStart"
            name="ageStart"
            required>
    </div>
    <div class="form-group">
        <label>ageEnd</label>
        <input 
            class="form-control"
            type="date"
            [(ngModel)]="ageEnd"
            name="ageEnd"
            required>
    </div>
    <div class="form-group">
        <input 
            class="form-control"
            type="checkbox"
            [(ngModel)]="noAgeLimits"
            name="noAgeLimits"
            required>
    </div>
    <input type="button" (click)="onAddSubmit()" value="Add" class="btn btn-success">
</form>